body{
    z-index: 1;
    background-color: #061E44;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    color: #e5e9f0;
    font-family: 'Lucida Console'

}
@font-face {
  font-family: "Farro";
  src: url("fonts/Farro-Light.ttf");
}

.modebar {
display: none !important;
}

p { margin-top: 10px;
    font-family: 'Lucida Console';
    font-weight: lighter;

}

/*
blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 5px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
    text-indent: 23px;

  }
  
  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }
  
  blockquote.twitter-tweet a {
    
    color: blue;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }

  blockquote.twitter-tweet img {

    border-radius: 50%;
    width: 32px;
    height: 32px;

  }
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }
 .funnyWidget{
    height: 600px;
    width: 600px;
    align-content: left;
 } 
*/
.custom-tabs {
  background-color: #082255 !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  height: fit-content;
  cursor: pointer;
  color: #e5e9f0;

}
.custom-tabs:hover {
  background-color:#13326c !important;

}
#Main-tab.custom-tab, #Sub-tab.custom-tab, #Rest-tab.custom-tab {

  background-color: #161a28 ;
  letter-spacing: 2px;
/*   border: 0; */
/*   border-bottom: #13326c solid 4px !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 18px;
}

#Main-tab.custom-tab--selected, #Sub-tab.custom-tab--selected, #Rest-tab.custom-tab--selected {
/*   border-bottom: #13326c solid 4px !important; */
  background-color:#13326c !important;
  color: #e5e9f0;
}

.tabs {
  background-color: #161a28;
  width: 100%;
}

.app-header{
  display: flex;
  justify-content: space-between;

  color: #e5e9f0;
}
.app-header-main{
  margin-left: 5%;
}
.logo{
  height: 80px;
  width: 200px;
  margin-right: 10%;

}
/*1st tab    */
.tabble-wrapper{
  padding: 20px;
  /*padding-bottom: 40px; */
  background-color: #082255;
  display: flex;
  flex-direction: column;
  border-radius: 0.55rem;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.last-page, .first-page, .previous-page, .next-page{
  font-size: 18px;
  color: #e5e9f0;
  background-color:  #13326c;
}
.current-page{
  font-size: 18px !important;
  color: #e5e9f0;
  background-color: #13326c;
  font-weight: bold;
}
.page-number{
  font-size: 18px;
  font-weight: bold;
  color: #e5e9f0 !important;
}
.current-page::placeholder{
  color: #e5e9f0 !important;
}
.scatter-wrapper{
  float: left;
  margin-left: 10px;
  display:inline !important;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
}
.dropdowns-wrapper{
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color:  #082255;
  padding: 15px;
  border-radius: 0.55rem;
  border: 2px solid #082255;
  color: white;
  height: 40%;
}
#selected_coins.Select-value.dropdown-top{
  color: #e5e9f0
}
.Select-menu-outer{
  background-color: #13326c;
  color: #e5e9f0
}

.first-div{
  margin-top: 20px;
  height: 100%;
}

.bottom-wrapper{
  margin-top: 10px;
  height: 50vh;
}
.top-wrapper{
  margin-top: 10px;
}
.leftcolumn-wrapper{
  float: left;
  width: 20%;
  /* height: auto !important; */
}
.rightcolumn-wrapper{
  width: 100%;
  height: 100%;
}
.gauge-wrapper{
  margin-top: 10px;
  display: 'inline-block';
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  height: calc(50vh - 220px)  !important;
}
.dominance-wrapper{
  float: left;
  margin-left: 10px;
  display: 'inline-block';
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  width: 48% !important;
  height: 100% !important;
}

.scatter-wrapper{
  float: left;
  margin-left: 10px;
  display:inline !important;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  width: 30% !important;
  height: 100% !important;
}
#pie-chart.dash-graph.dominancePie{
  width: auto !important;
  height: calc(50vh - 220px)  !important;
}
#scatter-chart.dash-graph.marketScatter{
  width: auto !important;
  height: auto !important;
}
#dominance-line.dash-graph.dominanceGraph{
  width: auto !important;
  height: auto !important;
}


/* 2nd div*/
.second-div{
  margin-top: 20px;
}
/*
.second-div{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;  
}
.dropdowns2-wrapper{
  grid-area: 1/1/2/3;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color:  #082255;
  padding: 15px;
  border-radius: 0.55rem;
  color: white;
}
.indicator{
grid-area: 1/3/4/6;
}
.plotline-wrapper{
grid-area: 4/1/10/6;
}
.plotline3-wrapper{
  grid-area: 1/6/5/17;
  }
  */

.leftcolumn2-wrapper {
  float: left;
  width: 30%;
}
.rightcolumn2-wrapper{
  width: 69%;
  display: inline-block;
  margin-left: 10px;
}

.topleft-wrapper{
  height: 250px;
}
.bottomleft-wrapper{
  margin-top: 10px !important;
  clear:both
}
.dropdowns2-wrapper{
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color:  #082255;
  padding: 15px;
  border-radius: 0.55rem;
  color: white;
  float: left;
  width: 40%;
  padding-bottom: 50px;
}

.indicator{
  float: right;
  /* height: 260px; */
  width: 55%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  width: 55% !important;
  height: 100% !important;
}


 .plotline-wrapper{ /* graph-social */
  display: 'inline-block';
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  width: 100% !important;
  height: 100% !important;
}
.plotline3-wrapper{ /* graph */
  margin-left: 10px;
  display: inline-block !important;
  padding: 20px; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  width: 100% !important;
  height: 50% !important;
}
.volumeplot-wrapper{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  margin-left: 10px;
  display: inline-block !important;
  padding: 20px; 
  width: 100% !important;
  height: 100% !important;
}
#graph-social.dash-graph.socialGraph{
  width: auto !important;
  height: 45% !important;
}
#graph.dash-graph.graphGraph{
  width: auto !important;
  height: 33vh !important;
}
#volumeplot.dash-graph.volumeGraph{
  width: auto !important;
  height: 33vh !important;
}
#indicator.dash-graph.indicatorGraph{
  width: 250px !important;
  height: 250px !important;
}


/* 3 tab*/
.third-div{
  margin-top: 20px;
}
.card-container{
  /* width: calc(332px + 332px + 5px + 20px); */

  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #082255;
  border-radius: 0.55rem;
  display:inline-block;
  /*
  grid-template-columns: 332px 332px;
  grid-template-rows: 380px 380px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  */

}
.card-box{
  margin-right: 5px;
  margin-left: 5px;
    border-radius:10px;
    color:#fff;
    float: left;
    font-family:sans-serif;
}
.trich_card .bottom16 {
  margin-bottom: 16px;
}
.trich_card .card {
  height: 480px;
}
.font-sm{
  font-family: "Farro";
}
.font-xs{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}